
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="/Account/Login">
    <div>
        <label>User Name:</label>
        <input type="text" name="userName" required />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <a href="/Account/ForgotPassword">Forgot Password?</a>
    </div>
</form>

<p style="color:red;">@ViewBag.Message</p>

<style>
    form {
        width: 300px;
        margin: 0 auto;
    }

    div {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 5px;
    }

    button {
        width: 100%;
        padding: 5px;
    }
</style>
